---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Ryan Leary">
	<main class="row">
		<div class="hero">
			<h1 class="text-center mb-4">Ryan Leary</h1>

			<img
				src="/public/img/profile.jpg"
				alt="Ryan Leary"
				height="250"
				width="250"
				id="profile-pic"
				class="rounded-circle mx-auto d-block mb-4"
			/>

			<p class="blurb">
				Hello! My name is Ryan. Thanks for checking out my portfolio
				site! If you would like to learn more about me, feel free to <a
					href="contact">reach out</a
				>, check out some of my <a href="projects">projects</a>, or can
				also follow along my <a href="blog">blog</a> where I document my
				web development journey.
			</p>
		</div>
		<div class="reach-out">
			<h1 class="text-center m-4">Reach out</h1>
			<ul>
				<li>
					<img
						src="/public/img/Instagram_logo_2016.svg"
						alt="Instagram Logo"
						height="50"
						width="50"
					/>
					<a href="https://www.instagram.com/r.leary04/">Instagram</a>
				</li>
				<li>
					<img
						src="/public/img/github_logo.svg"
						alt="GitHub Logo"
						height="50"
						width="50"
					/>
					<a href="https://www.instagram.com/r.leary04/">GitHub</a>
				</li>
				<li>
					<img
						src="/public/img/LinkedIn_icon.svg"
						alt="Instagram Logo"
						height="50"
						width="50"
					/>
					<a href="https://www.instagram.com/r.leary04/">LinkedIn</a>
				</li>
			</ul>
		</div>
	</main>
</Layout>
